<!--
  Generated template for the DeviceslistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>List of devices</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <!-- <item-device *ngFor="let currentDevice of devices" [device]="currentDevice"></item-device> -->

    <ion-item-sliding *ngFor="let device of global.devices" cancelable="false"><!--(ionDrag)="delete(device)"-->
      <button ion-item (click)="displayDevice(device)">

        <ion-label>
          <h2>{{device.name}}</h2>
          <p>{{device.communication.address}} by {{device.mode}}</p>
        </ion-label>

        <ion-toggle item-end color="primary" [(ngModel)]="device.wantNotifications" (ionChange)="device.changeNotification()" disabled="{{ !device.communication.connected }}"></ion-toggle>
      </button>

      <ion-item-options icon-end>
        <button ion-button color="primary" expandable icon-only (click)="modify(device)">
          <ion-icon name="cog"></ion-icon>
        </button>
        <button ion-button color="danger" expandable icon-only (click)="delete(device)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab right bottom>
    <button large ion-fab (tap)="newDevice()" color="primary"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>
