<!--
  Generated template for the ConnectionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Adding a new smart child care device</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding scroll="false">

  <ion-list inset>
    <ion-item>
      <ion-label floating color="primary">Name</ion-label>
      <ion-input type="text" value="" [(ngModel)]="name"></ion-input>
    </ion-item>

    <ion-list>
      <ion-item>
        <ion-label floating color="primary">Connection mode</ion-label>
        <ion-select [(ngModel)]="communicationModesSelect">
          <ion-option *ngFor="let mode of communicationModesKeysArray" value="{{ mode }}">{{ mode }}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-label floating color="primary">Address</ion-label>
      <ion-input type="text" value="" [(ngModel)]="communicationValue"></ion-input>
    </ion-item>

    <ion-item id="buttons">
      <button ion-button round large color="primary" class="btn-center" (tap)="connection()">Connect</button>
    </ion-item>
  </ion-list>

</ion-content>
