<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      {{ device.name }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="getData($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown"
                           pullingText="Pull to refresh"
                           refreshingSpinner="circles"
                           refreshingText="Refreshing...">
    </ion-refresher-content>

  </ion-refresher>
  <ion-item>
    <ion-row>
      <ion-col>
        <h2>Address :</h2>
      </ion-col>
      <ion-col style="text-align: right">
        <p>{{ device.communication.address }}</p>
      </ion-col>
    </ion-row>
  </ion-item>
  <ion-item>
    <ion-row>
      <ion-col>
        <h2>Communication mode :</h2>
      </ion-col>
      <ion-col style="text-align: right">
        <p>{{ device.mode }}</p>
      </ion-col>
    </ion-row>
  </ion-item>
  <ion-item>
    <ion-label>Connected</ion-label>
    <ion-toggle color="primary" [(ngModel)]="toggleConnection" (ionChange)="connect()"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>Activate the Child-Care System</ion-label>
    <ion-toggle color="primary" disabled="{{ !toggleConnection }}"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>Notifications</ion-label>
    <ion-toggle color="primary" [(ngModel)]="device.wantNotifications" disabled="{{ !toggleConnection }}" (ionChange)="device.changeNotification()"></ion-toggle>
  </ion-item>
  <ion-item *ngFor="let sensor of sensors">
    <p>{{ sensor.name }} : {{ sensor.value }}</p>
  </ion-item>
</ion-content>

<ion-footer padding>
  <ion-grid>
    <ion-row>
      <ion-col style="text-align: center">
        <button ion-button large round icon-start color="primary" (click)="modify()">
          <ion-icon name="cog"></ion-icon> Modify
        </button>
      </ion-col>
      <ion-col style="text-align: center">
        <button ion-button large round icon-start color="danger" (click)="delete()">
          <ion-icon name="trash"></ion-icon> Delete
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
